/* VARIÁVEIS GLOBAIS */
:root {
  --bg-color: #0c0102;
  --text-color: rgb(245, 239, 239);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFIA */
@font-face {
  font-family: "Benguiat";
  src: url("../fontes/Benguiat Bold.ttf") format("truetype");
}

html,
body {
  overflow-x: hidden !important;
}

/* BODY */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins";
  overflow-x: hidden;
}

/* BOTÕES */
button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 12px;
  border: none;
  outline: none;
  padding: 16px 0px;
  border-bottom: 1px solid var(--text-color);
}

/* PRÉ LOADER */
#preLoader {
    width: 100%;
    height: 100vh;
    background-color: #0c0102;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 40vw;
        height: auto;

        path {
            fill: rgb(19, 19, 0.364);
            stroke: rgb(168, 19, 19);
            stroke-dasharray: 1200;
            stroke-dashoffset: 1200;
        }
    }
}

/* BG MONSTRO | */
.bgMonstro {
  background-image: url("../imgs/webp/bg-sec2.webp");
  background-position: center;
  background-size: cover;
  z-index: 2;
  position: relative;
  background-color: #0c0102;
}

/* TODOS OS H2 DA PÁGINA */
h2 {
  font-size: 40px;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

/* CABEÇALHO */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 9;

  .logoGab {
    width: 80px;
  }
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

/* SEÇÃO HERO */
.hero {
  position: relative;
  height: 100vh;
  background-position: 50% 0%;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;

  picture {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .esquerda,
  .direita {
    width: 30%;
    z-index: 3;
  }

  .esquerda {
    h3 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 4px;
    }

    h1 {
      font-size: 3.5vw;
      font-family: "Benguiat";
    }
  }

  .direita {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 2vw;

    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

/* DIV DEGRADÊ SEÇÃO HERO */
.hero:before {
  content: "";
  background: linear-gradient(180deg, rgba(12, 1, 2, 0) 0%, #0c0102 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

/* SEÇAO 02 | CIDADES */
.secaoCidade {
  flex-direction: column;
  position: relative;

  .tituloCidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardsCidades {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;

    .card {
      background-image: url("assets/imgs/webp/card1.webp");
      width: 31%;
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 20px;
    }

    .card:nth-child(2) {
      background-image: url("assets/imgs/webp/card2.webp");
    }

    .card:nth-child(3) {
      background-image: url("assets/imgs/webp/card3.webp");
    }
  }
}

/* SEÇAO 03 | DEPOIMENTOS */
.secaoDepoimentos {
  flex-direction: column;

  .logotipos {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .depoimentos {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;

    .depoimento {
      width: 30%;
    }
  }
}

/* SEÇAO 04 | AGRADECIMENTOS */
.secaoAgradecimento {
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #0c0102;
  z-index: 2;

  h2 {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("assets/imgs/webp/bg-footer.webp");
  background-position: center;
  background-size: cover;
  z-index: -1;

  .conteudoFooter {
    display: flex;
    width: 100%;
    padding: 7vw;

    .logoFooter {
      width: 30%;
      h3 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 3.5vw;
        font-family: "Benguiat";
      }
    }

    .secoesFooter {
      display: flex;
      flex: 1;
      justify-content: end;
      gap: 6%;
      align-items: end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .redesSociais {
        ul {
          display: flex;
          gap: 12px;
        }
      }
    }
  }

  .logotiposFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .textoInfinito {
    width: max-content;
    display: flex;

    h3 {
      color: #dadada;
      font-size: 12vw;
      font-family: "Benguiat", sans-serif;
      mix-blend-mode: color-dodge;
      animation: textoInfinito 10s infinite linear;
      padding-left: 8vw;
    }

    h3:hover {
      animation-play-state: paused;
    }
  }
}

/* KEY FRAMES */
@keyframes textoInfinito {
  100% {
    transform: translateX(-100%);
  }
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  section {
    padding: 4vw;
  }

  h2 {
    font-size: 6vw;
  }

  header {
    .logoGab {
      width: 18vw;
    }
  }

  .hero {
    flex-direction: column;
    padding: 20% 4vw 0;

    .esquerda,
    .direita {
      width: 100%;
    }

    .esquerda {
      h3,
      h1 {
        text-align: center;
      }

      h1 {
        font-size: 12vw;
      }
    }

    .direita {
      align-items: start;
      p {
        font-size: 5.5vw;
        text-align: start;
        margin-bottom: 16px;
      }
    }
  }

  .secaoCidade {
    margin-top: 80px;
    button {
      display: none;
    }

    .cardsCidades {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;

      .card {
        width: 100%;
      }
    }
  }

  .secaoDepoimentos {
    .logotipos {
      img:nth-child(1),
      img:nth-child(3) {
        width: 20%;
      }

      img:nth-child(2) {
        width: 40%;
      }
    }

    .depoimentos {
      flex-direction: column;
      gap: 48px;

      .depoimento {
        width: 100%;
      }
    }
  }

  .secaoAgradecimento {
    margin: 40px 0px 60px;

    h2 {
      text-align: center;
    }

    ul {
      width: max-content;
      gap: 32px;
    }
  }

  footer {
    padding-top: 40px;

    .conteudoFooter {
      flex-direction: column;

      .logoFooter {
        width: 100%;

        h2,
        h3 {
          text-align: center;
        }

        h2 {
          font-size: 12vw;
        }
      }

      .secoesFooter {
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;

        .redesSociais {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 40px 0px 32px;
        }

        .institucional {
          width: 40%;
        }

        .parceiro {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }

    .logotiposFooter {
      margin-top: 40px;
    }

    .textoInfinito h3 {
      font-size: 20vw;
    }
  }
}
